<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Form</title>
</head>
<body>
    <h1>HTML Form</h1>
    <form action="user_form" method="POST">
        <div>
            <p>first name</p>
            <input type="text"
            id="firstName"
            placeholder="enter your first name here"
            name="firstName"
            
            />
        </div>
        <div>
            <p>last name</p>

            <input type="text"
            id="lastName"
            placeholder="enter your last name here"
            name="lastName"
            
            />
        </div>
        <div>
            <p>age</p>

            <input type="int"
            id="age"
            placeholder="enter your age here"
            name="age"
            
            />
        </div>
        <button type="submit"> store data</button>
    </form>    
</body>
</html>